/*Стиль калькулятора*/
.image-container{
    position: relative;
}

.dminus {
    position: absolute;
    padding: 0 10px;
    background-color: #001100;
    font-size: 30px;
    border: none;
    color: #00ff00;
    text-align: left;
    width: 30px;
    height: 32px;
    top: 75px;
    left: 60px;
}

.dvp {
    position: absolute;
    padding: 0 20px;
    background-color: #001100;
    font-size: 30px;
    border: none;
    color: #00ff00;
    text-align: left;
    width: 40px;
    height: 32px;
    top: 75px;
    left: 200px;
}

.display {
    position: absolute;
    padding: 0 10px;
    background-color: #001100;
    font-size: 30px;
    border: none;
    color: #00ff00;
    text-align: left;
    width: 150px;
    height: 32px;
    top: 75px;
    left: 80px;
}


.invisible-button {
    position: absolute;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.toggle {
    background: red;
    cursor: pointer;
    width: 40px;
    height: 30px;
    top: 414px;
    left: 240px;
}

.clear {
    top: 182px;
    left: 48px;
}

.swap {
    top: 182px;
    left: 98px;
}

.arc {
    top: 182px;
    left: 148px;
}

.vp {
    top: 182px;
    left: 198px;
}

.f {
    top: 182px;
    left: 248px;
}

.k7 {
    top: 230px;
    left: 48px;
}

.k8 {
    top: 230px;
    left: 98px;
}

.k9 {
    top: 230px;
    left: 148px;
}

.kleft {
    top: 230px;
    left: 198px;
}

.kright {
    top: 230px;
    left: 248px;
}

.k4 {
    top: 274px;
    left: 48px;
}

.k5 {
    top: 274px;
    left: 98px;
}

.k6 {
    top: 274px;
    left: 148px;
}

.kmul {
    top: 274px;
    left: 198px;
}

.kdiv {
    top: 274px;
    left: 248px;
}

.k1 {
    top: 320px;
    left: 48px;
}

.k2 {
    top: 320px;
    left: 98px;
}

.k3 {
    top: 320px;
    left: 148px;
}

.kplus {
    top: 320px;
    left: 198px;
}

.kminus {
    top: 320px;
    left: 248px;
}

.k0 {
    top: 366px;
    left: 48px;
}

.kdot {
    top: 366px;
    left: 98px;
}

.kpi {
    top: 366px;
    left: 148px;
}

.kmem {
    top: 366px;
    left: 198px;
}

.kequal {
    top: 366px;
    left: 248px;
}
